%table.table.table-striped.table-hover
  %tbody
    %tr
      %td Title
      %td= application.title

    %tr
      %td Domain
      %td= application.domain

    %tr
      %td Description
      %td= application.description

    %tr
      %td Instructions
