.navbar.navbar-default
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'LensHQ', root_path, class: 'navbar-brand'

  .navbar-collapse.collapse.navbar-responsive-collapse
    %ul.nav.navbar-nav
      = navigation_element t('navigation.applications'), applications_path
