.page--index
  .promo__content
    %h1.promo__title LensHQ
    %p.promo__desc
      Smart profiling tool for Rails apps.
  = link_to '/auth/github', class: 'btn btn-default btn-raised' do
    %span.icon.icon--large.icon--github
    %span.button__label Sign in with GitHub
