.page--index
  .promo__content
    .logo
    %h1.promo__title LensHQ
    %p.promo__desc
      Smart profiling tool for Rails apps.
  = link_to '/auth/github', class: 'btn btn-primary btn-raised' do
    %span.icon.icon--large.icon--github
    %span.button__label Sign in with GitHub
  = link_to '/sign_in', class: 'btn btn-primary btn-raised' do
    %span.button__label Sign In
  = link_to '/sign_up', class: 'btn btn-primary btn-raised' do
    %span.button__label Sign Up
