---
defaults: &defaults
  secret_token: 'c154eafe37f64860ea67f0972feea442a3830c008f7b3b57ee954d598dfd44b5414ba27925aa8d67dbe9e3d4d6abb9159d235c0abd95ca95a0a520e5d86a6226'
  github:
    client_id: 'some_github_client_id'
    secret: 'some_secret'


production:
  <<: *defaults

development:
  <<: *defaults

test:
  <<: *defaults
