/*------------------------------------------------------------------
[Stylesheet]
Color Palette - Teal
-------------------------------------------------------------------*/

.btn,
.btn-large {
	background-color: #c0ca33;
}

.btn:hover,
.btn-large:hover {
	background-color: #cddc39;
}

.hero_fullscreen.background_solid,
.color_bg {
	background-color: #009688 ;
}

a {
	color:#cddc39
}
