
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";

html, body, .landing {
    height: 100%;
}

.page--index {
    background: url(asset_path('cover.jpg'));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.promo__content {
  margin-bottom: 3em;
}

.button__label {
    color: white;
}

.promo__title {
  margin: 0;
  color: white;
  font-size: 4em;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.3) 0.1em 0.2em 0;
}

.promo__desc {
  color: white;
  margin: 0 0 1em 0;
}

.logo {
    width: 244px;
    height: 249px;
    background: url(asset_path('logo.svg'));
    background-size: cover;
    background-repeat: no-repeat;
}

#requests-chart.chart {
  height: 400px;
}

.chart rect {
  fill: lightgray;
}

.chart rect:hover {
  fill: gray;
}

.chart .global-time rect {
    fill: lightblue;
}

.chart .global-time rect.process_action-action_controller {
    fill: blue;
}

.chart .details rect.db-sql-query {
  fill: #7BD45D;
}

.chart .details rect.app-view-render-partial,
.chart .details rect.app-view-render-template {
  fill: #B65DD4;
}

.d3-tip .tooltip {
  background-color: #C8D7DB;
  padding: 10px;
  width: 400px;
}

.d3-tip .histogram-tooltip {
  padding: 3px;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

table#event-sources .left {
  text-align: left;
}

table#event-sources .right {
  text-align: right;
}
