@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";
@import 'chart';

// $primary-color-dark:   #0097A7
// $primary-color:        #00BCD4
// $primary-color-light:  #B2EBF2
// $primary-color-text:   #FFFFFF
// $accent-color:         #00BCD4
// $primary-text-color:   #212121
// $secondary-text-color: #727272
// $divider-color:        #B6B6B6

html, body, .landing {
    height: 100%;
    -webkit-font-smoothing: antialiased !important;
}

.container--banner {
    height: 80px;
}

.title {
    margin-left: 50px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    color: #77777;
    font-size: 3em;
}

.container--top {
    background: #00bcd4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container--bottom {
    clear: both;
    background: #00bcd4;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
}

.container--bottom a {
    color: #212121;
    font-weight: 500;
    display: inline;
}

.logo {
    width: 244px;
    height: 249px;
    background: url(asset_path('logo.svg'));
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.landing h1 {
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 500;
    letter-spacing: -0.13rem;
    font-size: 4.21rem;
    line-height: 3.44rem;
    margin: 1.72rem 0px 1.72rem 0px;
}

.landing h2 {
    opacity: 0.87;
    font-weight: 500;
    letter-spacing: 0.02rem;
    font-size: 2rem;
    line-height: 1.72rem;
    margin: 0px 0px 0rem 0px;
    color: white;
}

.landing #cta {
    margin-top: 50px;
}

.container--odd {
    clear: both;
    background-color: white;
}

.container--even {
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
}

.landing .feature {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    padding: 50px;
}

.landing .feature .title {
    margin: 0;
}

.landing .feature .description {
    width: 85%;
}

.promo__content {
    margin-bottom: 3em;
}

.button__label {
    color: white;
}

