!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width", name: "viewport"}/
    = stylesheet_link_tag :mailer, :media => "all"
  %body
    %table.mui-body{border: "0", cellpadding: "0", cellspacing: "0"}
      %tr
        %td
          %center
            .mui-container
              %table{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
                %tr
                  %td.mui-panel
                    = yield
